@import "compass/css3/flexbox";
@import "compass";

$portfolio-hr:  #dddddd;
$alt-blue:      #196bac;
/* ==========================================================================
   Media query (Holy Grail Layout):
   ========================================================================== */
@media screen and (max-width: 640px) {

  /**************
    All sections:
  **************/
  [class^='col-'] {
    max-width:    100%;
    width:        100%;
  }

  /* change flex direction for relevant sections: */
  nav,
  .portfolio-title,
  .about-li,
  .portfolio-row,
  .container-row,
  footer > .row {
    @include flex-direction(column);
  }

  .title {
    margin-top: 0;
  }

  /**************
    Home section:
  **************/
  #home {
    height: auto;
    img { width:100%; }   /* IE 'bug': won't resize/respond correctly otherwise */
  }

  .home-title {
    margin-top: 4vh;
  }

  /* By making the image a 'block' element, it becomes fluid: */
  #home .flex-grow {
    margin-top: 2.6rem;
    display:    block;
  }

  /**************
    About section:
  **************/
  #about-list {
    figure {
      padding: 0;
    }
  }

  .about-li {
    [class^='col-'],
    .skill-icons {
      @include flex(1 1 auto);            // explicit deceleration for IE
      @include justify-content(center);
    }

    & > div {
      max-width:    100%;
      width:        100%;
    }

    p {
      padding:      0 2rem;
      text-align:   justify;
      text-justify: inter-word;
    }
  }

  /**************
    Portfolio section:
  **************/
  .div-line {
    display: none;
  }

  .portfolio-row {

    /* Add gutters and auto center figure elements: */
    a {
      max-width:      70%;
      margin-top:     1rem;
      margin-bottom:  1rem;
      align-self:     center;

      img {
        width:        100%;   /* fixes IE image resize 'bug' */
        margin-left:  auto;
        margin-right: auto;

      }
      h4, p {
        text-align:   center;
      }
    }
  }

  /**************
    Footer section:
  **************/
  footer {
    & [class ^= 'col-'] {
      text-align: center;
    }

    // i.e. the column w/ social icons:
    .social-container {
      padding-top: 0.45rem;
    }
  }
}

/**************
  Misc queries:
**************/

/* We 'insert' the icon description when screen is large enough
   (i.e. we 'remove' the content on small screens) */
@media screen and (min-width: 400px) {
  .skill-icons span::before {
    content:    " " attr(data-skill);
    font-size:  1.5rem;
    font-style: normal;
    color:      $alt-blue;
  }
}

/*
  Header section:
*/
@media screen and (max-width: 540px) {
  header {
    display: none;
  }
  .triple-bar {
    opacity:    1 !important;
    visibility: visible !important;
  }
}