@import "compass/css3/flexbox";
@import "compass";

$portfolio-hr:  #dddddd;
/* ==========================================================================
   Media query (Holy Grail Layout):
   ========================================================================== */
@media screen and (max-width: 640px) {

  /**************
    All sections:
  **************/
  [class^='col-'] {
    text-align:   center;
    max-width:    100%;
    width:        100%;
  }

  /* change flex direction for relevant sections: */
  .portfolio-title,
  .about-li,
  .portfolio-row,
  .container-row {
    @include flex-direction(column);
  }

  .title {
    margin-top: 0;
  }

  /**************
    Header section:
  **************/
  nav > div {
    @include flex(1 1 auto !important) ;
  }

  /**************
    Home section:
  **************/
  #home {
    height: auto;
  }
  .home-title {
    margin-top: 4vh;
  }

  /**************
    About section:
  **************/
  #about-list {
    figure {
      padding: 0;
    }
  }

  .about-li {
    [class^='col-'],
    .skill-icons {
      @include justify-content(center);
    }

    & > div {
      max-width:    100%;
      width:        100%;
    }

    p {
      padding:      0 2rem;
      text-align:   justify;
      text-justify: inter-word;
    }
  }

  /**************
    Portfolio section:
  **************/
  .portfolio-title {
    @include flex-wrap(nowrap);
  }

  .div-line {
    display: none;
  }

  .portfolio-row {
    /* Add gutters and auto center figure elements: */
    a {
      max-width:  70%;
      margin:     1rem auto 1rem auto;

      img {
        margin-left:  auto;
        margin-right: auto;
      }
      h4, p {
        text-align:   center;
      }
    }
  }
}

/**************
  Misc queries:
**************/
// By making the image a 'block' element, it becomes fluid:
@media screen and (max-width: 627px) {
  #home .flex-grow {
    margin-top: 2.6rem;
    display:    block;
  }
}
