/* removes both padding and margins */
.no-pad, .no-padding {
  padding:  0;
  margin:   0;
}

/* use if nested in fluid and want to clear */
.clear-fluid {
  margin-left:  -2rem;
  margin-right: -2rem;
}

.full-height {
  min-height: 100%;
}

.auto-margin, .margin-center {
  margin-left:  auto;
  margin-right: auto;
}

/* changes flex display to 'block': */
.clear {
  display: block;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}


@mixin div-line() {

}