/*
  Author: Dee Reddy (deesus@yandex.com)
  */

@import "resets",
        "flexgrid",
        "typography",
        "utility";
        // _media.scss (at end)

$link-blue:   deepskyblue;
$link-hover:  #0FA0CE;
/* ========================================================================== */


/* ==========================================================================
   Styles
   ========================================================================== */
// TODO: set defaults for link color, font-family, header font, sizes, etc.

img {
  /* image automatically resizes to max-width of the boundary: */
  max-width:  100%;
  height:     auto;

  // removes the extra space on bottom of a div that contains an image:
  display:    block;
}

ul {
  list-style: none;
}

a {
  color: $link-blue; }
a:hover {
  color: $link-hover; }

/*******************
 Buttons
 *******************/
button, .button, input[type='button'], input[type='submit'], input[type='reset'] {

}

/* ==========================================================================
   Sections
   ========================================================================== */
/* all sections (except footer, header): */
section {
  height: 100vh;
}

/*******************
 Home
 *******************/

/*******************
 About
 *******************/

/*******************
 Portfolio
 *******************/
#portfolio {
  background-color: rgb(250, 250, 250);
}

.portfolio-tiles {
  li {
    display: inline-flex;
    @include flex-direction(row);

    background: white;
    border-radius: 4px;
    @include box-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.2));
    width: 30%;
    padding: 1rem;
    /* thablets: */
    @media screen and (max-width: 550px) {
      
    }
  }
}

/**************
 Footer
 **************/
/* for sticky footer, wrap everything but the footer in this selector: */
body {
  @include display-flex;
  @include flex-direction(column);
  -webkit-box-orient: vertical;
  min-height: 100vh;
}

#body-wrapper {
  @include flex(1);
}

footer {
  background: #c0c0c0;
}

/*******************
 Media queries
 *******************/
@import "media";
