/* ==========================================================================
    Author: Dee Reddy (deesus@yandex.com)
   ========================================================================== */

@import "resets",
        "flexgrid",
        "typography",
        "utility";
        // _media.scss (at end)

// TODO: simplify number of colors used:

$drk-blue:      #495164;
$alt-blue:      #196bac;    // or try #259fff
$link-blue:     deepskyblue;
$link-hover:    #0FA0CE;
$selection:     #4fc8de;
$near-white:    rgba(250, 250, 250, 1);
$footer-bg:     rgb(245, 245, 245);
$portfolio-hr:  #dddddd;
$light-gray:    rgba(204, 204, 204, 1);
$medium-gray:   rgba(170, 170, 170, 1);
$shadow-gray:   rgba(210, 210, 210, .5);
$gray:          rgba(100, 100, 100, 1);
$invis-gray:    rgba(100, 100, 100, 0);
$black:         rgba(34, 34, 34, 1);    // same as #222

$section-padding:   0.9%;
$header-height:     5.5rem;
$common-transition: all 0.5s ease;
$quick-transition:  all 0.3s ease;
/////////////////////////////////////////////////////////////////////////////////


/* ==========================================================================
   Styles
   ========================================================================== */

a {
  color: $link-blue; }
a:hover {
  color: $link-hover; }

/* Buttons: */
button, .button, input[type='button'], input[type='submit'], input[type='reset'] {
  display:          inline-block;
  font-size:        1.1rem;
  letter-spacing:   0.1rem;
  background-color: transparent;
  padding:          0.4rem 0.7rem;
  cursor:           pointer;
  border-radius:    20px;
  border:           1px solid $invis-gray;
  @include          transition($common-transition);

  &:hover, &:focus {
    border:         1px solid $gray;
  }
}

/* change selection color: */
// n.b. selector cannot be combined (CSS gotcha)
::selection {
  background: $selection;
  color:      ghostwhite;
}

::-moz-selection {
  background: $selection;
  color:      ghostwhite;
}

/* ==========================================================================
   Sections
   ========================================================================== */
/* all sections (except footer, header): */
section {
  min-height:     25vh;
  padding-bottom: $section-padding;
}

.title {
  padding: 10.2rem 0 7rem 0;
  @include align-items(center);
}

/*******************
 Hamburger Menu (drop-down menu)
 *******************/
#hamburger-menu {
  @include  transition(right 0.25s cubic-bezier(0.25, 0.06, 0.75, 0.95));
  top:          0;
  height:       100%;
  width:        20.1rem;
  max-width:    100%;
  position:     fixed;
  z-index:      99;
  background:   $near-white;
  border-left:  1px solid $light-gray;
  padding:      2rem;
  font-size:    1.3rem;

  li {
    line-height: 2.4rem;
  }

  li a {
    @include  transition($quick-transition);
    color:    $text-gray;
    width:    100%;
    &:hover {
      color:  $alt-blue;
    }
  }
}

/* close icon */
i.ion-ios-close-empty {
  color:      $medium-gray;
  font-size:  3rem;
}

.menu-heading {
  color:          $medium-gray;
  text-transform: uppercase;
  margin-bottom:  2.7rem;
}

/* overlays entire page with black bg: */
.mask {
  @include    transition($quick-transition);
  background: black;
  opacity:    .75;
  position:   fixed;
  z-index:    49;
  height:     100%;
  width:      100%;
}


/* transition utilities: */
.menu-visible {
  right: 0;
}

.menu-hidden {
  right: -20.1rem;        // width of menu
}

/*******************
 Header
 *******************/
header {
  width:      100%;
  height:     $header-height;
  background: white;

  a {
    text-transform: uppercase;
  }

  nav, ul {
    height: 100%;
  }

  li {
    display:        inline-block;
    padding-right:  1.2rem;
  }

  button {
    margin: 0;
    color:  $gray;
  }
}

/* hamburger icon: */
.hamburger-icon {
  //display: none;
  a {
    font-size:      3rem;
    color:          $gray;
    padding:        0 0.8rem;
    border-radius:  5px;
    @include transition(all 0.1s linear);

    &:hover {
      background: $gray;
      color:      ghostwhite;
    }
  }
}

/*******************
 Home
 *******************/
#home {
  @include        display-flex;
  @include        flex-direction(column);
  order:          1;
  padding-bottom: 0;
  overflow:       hidden;
  height:         calc(100vh - #{$header-height} - 1px);    // compensate for `header` and `hr`
}

.home-title {
  margin-top: 10vh;
}

/*******************
 About
 *******************/
.about-hr {
  width:      100%;
  height:     1px;
  background: $portfolio-hr;    // needed when hr has height > 1px
  color:      $portfolio-hr;
  border:     none;
}

#about-list {

  .about-li {
    margin-bottom: 6rem;
  }
  figure {
    padding-right: 5rem;
  }
  p {
    margin-bottom: 2rem;
  }

  .skill-icons {
    @include display-flex;    // centers items inside

    // TODO: change to circle icons (c.f. footer icons)?
    i {
      color:        $drk-blue;
      font-size:    3rem;
      margin-right: 0.8rem;
      margin-left:  2.2rem;
      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}

/*******************
 Portfolio
 *******************/
#portfolio {
  background: $near-white;
  @include    box-shadow(inset 0 2px 4px 0 $shadow-gray);
}

.portfolio-title {
  height: 4rem;
  width:  74%;
}

/* a container (or row) for portfolio bricks: */
.portfolio-row {
  @include        display-flex;
  @include        flexbox((box-orient: horizontal));
  @include        justify-content(center);             // we want items to be centered
  margin-bottom:  $section-padding * 2;
  // N.b. the anchor acts as container:
  a {
    margin:     $section-padding;
    /* resize tile upon resizing window: */
    // we want a max of three tiles in a row -- therefore, "100%/3" (3 divs add up to 100% width of window):
    // we also need to compensate for margins (1.2rem) on both sides -- therefore "2 * 1.2 rem":
    max-width:  calc(100%/3 - (2 * 1.2rem));
    // by making anchors a flexbox, we make child elements equal height
    @include    display-flex;
  }

  figure {
    @include        box-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.2));
    @include        transition(all 0.4s ease 0s);
    padding:        1rem;
    border-radius:  4px;
    background:     white;
    font-weight:    200;

    &:hover {
      @include box-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.5));
    }

    figcaption {
      margin: 1rem 1.5rem 0.5rem;
    }

    h1, h2, h3, h4, h5, h6 {
      font-size:      1.7rem;
      margin-bottom:  0.4rem;
    }

    p {
      margin: 0;
      color:  dimgray;
    }

    img {
      border-radius:  4px;
      width:          100%;     /* fixes IE image resize 'bug' */
    }
  }
}

/**************
 Footer
 **************/
/* for sticky footer, wrap everything but the footer in this selector: */
body {
  @include            display-flex;
  @include            flex-direction(column);
  -webkit-box-orient: vertical;
  min-height:         100vh;
}

#body-wrapper {
  @include flex(1 1 auto);    // for IE, we need to explicitly set all flex values rather than just `flex(1);`
}

footer {
  @include    box-shadow(inset 0 2px 4px 0 $shadow-gray);
  min-height: 8.5rem;
  height:     8.5rem;
  background: $footer-bg;
  color:      $medium-gray;

  .container-row {
    min-height: 100%;
  }

  a, a > i {
    @include  transition(color 0.4s ease);
    color:    $medium-gray;
    &:hover {
      color:        $gray;
      border-color: $gray;
    }
  }

  a > i {
    font-size:      2.6rem;
    padding:        0 1rem 0 1rem;
    border:         1px solid $medium-gray;
    border-radius:  50%;
  }
}

/* ==========================================================================
   Misc
   ========================================================================== */

// TODO: use svg instead:
.div-line {
  width:          100%;
  height:         0;
  border-top:     1px #dddddd solid;
  border-bottom:  1px white solid;
}

.debug {
  border: 2px dotted red;
}

.hidden {
  opacity:    0;
  visibility: hidden;
}
/*******************
 Media queries
 *******************/
@import "media";
