/*******************
 Author: Dee Reddy (deesus@yandex.com)
 *******************/
/**************
 Resets
 **************/
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container-fluid {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  box-orient: horizontal;
  box-direction: normal;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

[class^='col-'] {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  /* N.b. columns don't have pre-set padding */
}

.col-1 {
  -webkit-flex-basis: 8.33333%;
  flex-basis: 8.33333%;
  -ms-flex-preferred-size: 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  -webkit-flex-basis: 16.66667%;
  flex-basis: 16.66667%;
  -ms-flex-preferred-size: 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-flex-basis: 33.33333%;
  flex-basis: 33.33333%;
  -ms-flex-preferred-size: 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  -webkit-flex-basis: 41.66667%;
  flex-basis: 41.66667%;
  -ms-flex-preferred-size: 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-flex-basis: 58.33333%;
  flex-basis: 58.33333%;
  -ms-flex-preferred-size: 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -webkit-flex-basis: 66.66667%;
  flex-basis: 66.66667%;
  -ms-flex-preferred-size: 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-flex-basis: 83.33333%;
  flex-basis: 83.33333%;
  -ms-flex-preferred-size: 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -webkit-flex-basis: 91.66667%;
  flex-basis: 91.66667%;
  -ms-flex-preferred-size: 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  max-width: 100%;
}

/* Align Flex Items: */
/* main axis: */
.justify-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.justify-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.justify-center {
  -webkit-justify-content: center;
  justify-content: center;
}
.justify-space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.justify-space-around {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

/* cross axis: */
.align-items-start {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.align-items-end {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.align-items-center {
  -webkit-align-items: center;
  align-items: center;
}
.align-items-stretch {
  -webkit-align-items: stretch;
  align-items: stretch;
}

html {
  /* we use 10px = 1rem for easy calculations (e.g. 3rem = 30px) */
  font-size: 10px;
}

body {
  /* using `em` instead of `rem` in body b/c bug in chrome (use `rem` in all other areas) */
  font-size: 1.5em;
  font-family: Helvetica, Arial, sans-serif;
  color: #222;
  /* NOT pure black */
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 2rem;
}

h1 {
  font-size: 12rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2.4rem;
}

h6 {
  font-size: 2rem;
}

/**************
 Sticky Footer
 **************/
/* for sticky footer, wrap everything but the footer in this selector: */
body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
  min-height: 100vh;
}

#body-wrapper {
  -webkit-flex: 1;
  flex: 1;
}

/*******************
 Default Styles
 *******************/
img {
  /* image automatically resizes to max-width of the boundary: */
  max-width: 100%;
  height: auto;
  display: block;
}

/*******************
 Utility Functions
 *******************/
/*******************
 Buttons
 *******************/
/*******************
 Menus
 *******************/
