/* ==========================================================================
    Author: Dee Reddy (deesus@yandex.com)
   ========================================================================== */
/**************
 Resets
 **************/
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, figure {
  /* image automatically resizes to max-width of the boundary: */
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
}

/**************
 Grid
 **************/
/* container differs from Bootstrap's `container-fluid` in that we don't use auto margins */
.container {
  box-sizing: border-box;
  padding-right: 2rem;
  padding-left: 2rem;
}

.row, .container-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  box-orient: horizontal;
  box-direction: normal;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-left: 0;
  margin-right: 0;
}

/* use '.row' if NOT nested in '.container' otherwise use '.container-row' */
.container-row {
  margin-left: -1rem;
  margin-right: -1rem;
}

/* columns: */
[class^='col-'], .column {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  /* N.b. columns don't have pre-set padding */
}

.col-1 {
  -webkit-flex-basis: 8.33333%;
  flex-basis: 8.33333%;
  -ms-flex-preferred-size: 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  -webkit-flex-basis: 16.66667%;
  flex-basis: 16.66667%;
  -ms-flex-preferred-size: 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-flex-basis: 33.33333%;
  flex-basis: 33.33333%;
  -ms-flex-preferred-size: 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  -webkit-flex-basis: 41.66667%;
  flex-basis: 41.66667%;
  -ms-flex-preferred-size: 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-flex-basis: 58.33333%;
  flex-basis: 58.33333%;
  -ms-flex-preferred-size: 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -webkit-flex-basis: 66.66667%;
  flex-basis: 66.66667%;
  -ms-flex-preferred-size: 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-flex-basis: 83.33333%;
  flex-basis: 83.33333%;
  -ms-flex-preferred-size: 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -webkit-flex-basis: 91.66667%;
  flex-basis: 91.66667%;
  -ms-flex-preferred-size: 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  max-width: 100%;
}

/**************
 Flex Container properties:
 **************/
/* creates flexbox container horizontal direction */
.flex-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

/* creates flexbox container vertical direction */
.flex-column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

/* main axis properties: */
.justify-start, .justify-content-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.justify-end, .justify-content-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.justify-center, .justify-content-center {
  -webkit-justify-content: center;
  justify-content: center;
}
.justify-space-between, .justify-content-space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.justify-space-around, .justify-content-space-around {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

/* cross axis properties: */
.align-items-start {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.align-items-end {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.align-items-center {
  -webkit-align-items: center;
  align-items: center;
}
.align-items-stretch {
  -webkit-align-items: stretch;
  align-items: stretch;
}

/**************
 Flex Item properties:
 **************/
/* cross axis properties: */
.align-self-start {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.align-self-end {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}
.align-self-center {
  -webkit-align-self: center;
  align-self: center;
}
.align-self-stretch {
  -webkit-align-self: stretch;
  align-self: stretch;
}

/**************
 Flex:
 **************/
/* expands item relative to other items' flex property */
.flex-0 {
  -webkit-flex: 0;
  flex: 0;
}

.flex-1 {
  -webkit-flex: 1;
  flex: 1;
}

.flex-2 {
  -webkit-flex: 2;
  flex: 2;
}

.flex-3 {
  -webkit-flex: 3;
  flex: 3;
}

.flex-4 {
  -webkit-flex: 4;
  flex: 4;
}

.flex-5 {
  -webkit-flex: 5;
  flex: 5;
}

.flex-6 {
  -webkit-flex: 6;
  flex: 6;
}

.flex-7 {
  -webkit-flex: 7;
  flex: 7;
}

.flex-8 {
  -webkit-flex: 8;
  flex: 8;
}

.flex-9 {
  -webkit-flex: 9;
  flex: 9;
}

.flex-10 {
  -webkit-flex: 10;
  flex: 10;
}

.flex-11 {
  -webkit-flex: 11;
  flex: 11;
}

.flex-12 {
  -webkit-flex: 12;
  flex: 12;
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: url("../../dist/assets/OpenSans-Reg.woff");
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 300;
  src: url("../../dist/assets/OpenSans-Light.woff");
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
  src: url("../../dist/assets/OpenSans-Bold.woff");
}
/**************
 Typography:
 **************/
html {
  /* 1rem = 10px for easy calculations (e.g. 3rem = 30px): */
  font-size: 62.5%;
}

body {
  /* using `em` instead of `rem` in body b/c bug in chrome (use `rem` in all other areas) */
  font-size: 1.5em;
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  color: #54585E;
  line-height: 3.1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -.1rem;
}

h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -.1rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 5.0rem;
  }

  h2 {
    font-size: 4.2rem;
  }

  h3 {
    font-size: 3.6rem;
  }

  h4 {
    font-size: 3.0rem;
  }

  h5 {
    font-size: 2.4rem;
  }

  h6 {
    font-size: 1.5rem;
  }
}
/* removes both padding and margins */
.no-gutter, .no-pad-margin {
  padding: 0;
  margin: 0;
}

/* use if nested in fluid and want to clear */
.clear-fluid {
  margin-left: -2rem;
  margin-right: -2rem;
}

.auto-margin, .margin-center {
  margin-left: auto;
  margin-right: auto;
}

/* changes flex display to 'block': */
.clear {
  display: block;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}

.text-end {
  text-align: right;
  text-align: end;
}

.full-height {
  height: 100%;
}

/* ==========================================================================
   Styles
   ========================================================================== */
a {
  color: deepskyblue;
}

a:hover {
  color: #0FA0CE;
}

/* Buttons: */
button, .button, input[type='button'], input[type='submit'], input[type='reset'] {
  display: inline-block;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  background-color: transparent;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid rgba(100, 100, 100, 0);
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
button:hover, button:focus, .button:hover, .button:focus, input[type='button']:hover, input[type='button']:focus, input[type='submit']:hover, input[type='submit']:focus, input[type='reset']:hover, input[type='reset']:focus {
  border: 1px solid #646464;
}

/* change selection color: */
::selection {
  background: #4fc8de;
  color: ghostwhite;
}

::-moz-selection {
  background: #4fc8de;
  color: ghostwhite;
}

/* ==========================================================================
   Sections
   ========================================================================== */
/* all sections (except footer, header): */
section {
  min-height: 25vh;
  padding-bottom: 0.9%;
}

.title {
  padding: 10.2rem 0 7rem 0;
  -webkit-align-items: center;
  align-items: center;
}

/*******************
 Hamburger Menu (drop-down menu)
 *******************/
#hamburger-menu {
  -moz-transition: right 0.25s cubic-bezier(0.25, 0.06, 0.75, 0.95);
  -o-transition: right 0.25s cubic-bezier(0.25, 0.06, 0.75, 0.95);
  -webkit-transition: right 0.25s cubic-bezier(0.25, 0.06, 0.75, 0.95);
  transition: right 0.25s cubic-bezier(0.25, 0.06, 0.75, 0.95);
  top: 0;
  height: 100%;
  width: 20.1rem;
  max-width: 100%;
  position: fixed;
  z-index: 99;
  background: #fafafa;
  border-left: 1px solid #cccccc;
  padding: 2rem;
  font-size: 1.3rem;
}
#hamburger-menu li {
  line-height: 2.4rem;
}
#hamburger-menu li a {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #54585E;
  width: 100%;
}
#hamburger-menu li a:hover {
  color: #196bac;
}

/* close icon */
i.ion-ios-close-empty {
  color: #aaaaaa;
  font-size: 3rem;
}
i.ion-ios-close-empty:hover {
  cursor: pointer;
}

.menu-heading {
  color: #aaaaaa;
  text-transform: uppercase;
  margin-bottom: 2.7rem;
}

/* overlays entire page with black bg: */
.mask {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: black;
  opacity: .75;
  position: fixed;
  z-index: 49;
  height: 100%;
  width: 100%;
}

/* transition utilities: */
.menu-visible {
  right: 0;
}

.menu-hidden {
  right: -20.1rem;
}

/*******************
 Header
 *******************/
header {
  width: 100%;
  height: 5.5rem;
  background: white;
}
header a {
  text-transform: uppercase;
}
header nav, header ul {
  height: 100%;
}
header li {
  display: inline-block;
  padding-right: 1.2rem;
}
header button {
  margin: 0;
  color: #646464;
}

/* hamburger icon: */
.hamburger-icon {
  font-size: 3rem;
  color: #646464;
  padding: 0 0.8rem;
  border-radius: 5px;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.hamburger-icon:hover {
  background: #646464;
  color: ghostwhite;
  cursor: pointer;
}

/*******************
 Home
 *******************/
#home {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  order: 1;
  padding-bottom: 0;
  overflow: hidden;
  height: calc(100vh - 5.5rem - 1px);
}

.home-title {
  margin-top: 10vh;
}

/*******************
 About
 *******************/
.about-hr {
  width: 100%;
  height: 1px;
  background: #dddddd;
  color: #dddddd;
  border: none;
}

#about-list .about-li {
  margin-bottom: 6rem;
}
#about-list figure {
  padding-right: 5rem;
}
#about-list p {
  margin-bottom: 2rem;
}
#about-list .skill-icons {
  display: -webkit-flex;
  display: flex;
}
#about-list .skill-icons i {
  color: #495164;
  font-size: 3rem;
  margin-right: 0.8rem;
  margin-left: 2.2rem;
}
#about-list .skill-icons i:first-of-type {
  margin-left: 0;
}

/*******************
 Portfolio
 *******************/
#portfolio {
  background: #fafafa;
  -moz-box-shadow: inset 0 2px 4px 0 rgba(210, 210, 210, 0.5);
  -webkit-box-shadow: inset 0 2px 4px 0 rgba(210, 210, 210, 0.5);
  box-shadow: inset 0 2px 4px 0 rgba(210, 210, 210, 0.5);
}

.portfolio-title {
  height: 4rem;
  width: 74%;
}

/* a container (or row) for portfolio bricks: */
.portfolio-row {
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 1.8%;
}
.portfolio-row a {
  margin: 0.9%;
  /* resize tile upon resizing window: */
  max-width: calc(100%/3 - (2 * 1.2rem));
  display: -webkit-flex;
  display: flex;
}
.portfolio-row figure {
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
  transition: all 0.4s ease 0s;
  padding: 1rem;
  border-radius: 4px;
  background: white;
  font-weight: 200;
}
.portfolio-row figure:hover {
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
.portfolio-row figure figcaption {
  margin: 1rem 1.5rem 0.5rem;
}
.portfolio-row figure h1, .portfolio-row figure h2, .portfolio-row figure h3, .portfolio-row figure h4, .portfolio-row figure h5, .portfolio-row figure h6 {
  font-size: 1.7rem;
  margin-bottom: 0.4rem;
}
.portfolio-row figure p {
  margin: 0;
  color: dimgray;
}
.portfolio-row figure img {
  border-radius: 4px;
  width: 100%;
  /* fixes IE image resize 'bug' */
}

/**************
 Footer
 **************/
/* for sticky footer, wrap everything but the footer in this selector: */
body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
  min-height: 100vh;
}

#body-wrapper {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

footer {
  -moz-box-shadow: inset 0 2px 4px 0 rgba(210, 210, 210, 0.5);
  -webkit-box-shadow: inset 0 2px 4px 0 rgba(210, 210, 210, 0.5);
  box-shadow: inset 0 2px 4px 0 rgba(210, 210, 210, 0.5);
  min-height: 8.5rem;
  height: 8.5rem;
  background: whitesmoke;
  color: #aaaaaa;
}
footer .container-row {
  min-height: 100%;
}
footer a, footer a > i {
  -moz-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
  color: #aaaaaa;
}
footer a:hover, footer a > i:hover {
  color: #646464;
  border-color: #646464;
}
footer a > i {
  font-size: 2.6rem;
  padding: 0 1rem 0 1rem;
  border: 1px solid #aaaaaa;
  border-radius: 50%;
}

/* ==========================================================================
   Misc
   ========================================================================== */
.div-line {
  width: 100%;
  height: 0;
  border-top: 1px #dddddd solid;
  border-bottom: 1px white solid;
}

.debug {
  border: 2px dotted red;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

/*******************
 Media queries
 *******************/
/* ==========================================================================
   Media query (Holy Grail Layout):
   ========================================================================== */
@media screen and (max-width: 640px) {
  /**************
    All sections:
  **************/
  [class^='col-'] {
    max-width: 100%;
    width: 100%;
  }

  /* change flex direction for relevant sections: */
  nav,
  .portfolio-title,
  .about-li,
  .portfolio-row,
  .container-row,
  footer > .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .title {
    margin-top: 0;
  }

  /**************
    Home section:
  **************/
  #home {
    height: auto;
    /* IE 'bug': won't resize/respond correctly otherwise */
  }
  #home img {
    width: 100%;
  }

  .home-title {
    margin-top: 4vh;
  }

  /* By making the image a 'block' element, it becomes fluid: */
  #home .flex-grow {
    margin-top: 2.6rem;
    display: block;
  }

  /**************
    About section:
  **************/
  #about-list figure {
    padding: 0;
  }

  .about-li [class^='col-'],
  .about-li .skill-icons {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .about-li > div {
    max-width: 100%;
    width: 100%;
  }
  .about-li p {
    padding: 0 2rem;
    text-align: justify;
    text-justify: inter-word;
  }

  /**************
    Portfolio section:
  **************/
  .div-line {
    display: none;
  }

  .portfolio-row {
    /* Add gutters and auto center figure elements: */
  }
  .portfolio-row a {
    max-width: 70%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-self: center;
  }
  .portfolio-row a img {
    width: 100%;
    /* fixes IE image resize 'bug' */
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio-row a h4, .portfolio-row a p {
    text-align: center;
  }

  /**************
    Footer section:
  **************/
  footer [class^='col-'] {
    text-align: center;
  }
  footer .social-container {
    padding-top: 0.45rem;
  }
}
/**************
  Misc queries:
**************/
/* We 'insert' the icon description when screen is large enough
   (i.e. we 'remove' the content on small screens) */
@media screen and (min-width: 400px) {
  .skill-icons span::before {
    content: " " attr(data-skill);
    font-size: 1.5rem;
    font-style: normal;
    color: #196bac;
  }
}
/*
  Header section:
*/
@media screen and (max-width: 540px) {
  header {
    display: none;
  }

  .triple-bar {
    opacity: 1 !important;
    visibility: visible !important;
  }
}
