/*
  Author: Dee Reddy (deesus@yandex.com)
  */
/**************
 Resets
 **************/
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  /* image automatically resizes to max-width of the boundary: */
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
}

/**************
 Grid
 **************/
/* container differs from Bootstrap's `container-fluid` in that we don't use auto margins */
.container {
  box-sizing: border-box;
  padding-right: 2rem;
  padding-left: 2rem;
}

.row, .container-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  box-orient: horizontal;
  box-direction: normal;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
}

/* use '.row' if NOT nested in '.container' otherwise use '.container-row' */
.container-row {
  margin-left: -1rem;
  margin-right: -1rem;
}

/* columns: */
[class^='col-'], .column {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  /* N.b. columns don't have pre-set padding */
}

.col-1 {
  -webkit-flex-basis: 8.33333%;
  flex-basis: 8.33333%;
  -ms-flex-preferred-size: 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  -webkit-flex-basis: 16.66667%;
  flex-basis: 16.66667%;
  -ms-flex-preferred-size: 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-flex-basis: 33.33333%;
  flex-basis: 33.33333%;
  -ms-flex-preferred-size: 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  -webkit-flex-basis: 41.66667%;
  flex-basis: 41.66667%;
  -ms-flex-preferred-size: 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-flex-basis: 58.33333%;
  flex-basis: 58.33333%;
  -ms-flex-preferred-size: 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -webkit-flex-basis: 66.66667%;
  flex-basis: 66.66667%;
  -ms-flex-preferred-size: 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-flex-basis: 83.33333%;
  flex-basis: 83.33333%;
  -ms-flex-preferred-size: 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -webkit-flex-basis: 91.66667%;
  flex-basis: 91.66667%;
  -ms-flex-preferred-size: 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  max-width: 100%;
}

/**************
 Align Flex Items (i.e. flex utilities):
 **************/
/* main axis: */
.justify-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.justify-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.justify-center {
  -webkit-justify-content: center;
  justify-content: center;
}
.justify-space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.justify-space-around {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

/* cross axis: */
.align-items-start {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.align-items-end {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.align-items-center {
  -webkit-align-items: center;
  align-items: center;
}
.align-items-stretch {
  -webkit-align-items: stretch;
  align-items: stretch;
}

/* creates flexbox container horizontal direction */
.flex-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

/* creates flexbox container vertical direction */
.flex-column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/OpenSans-Regular.ttf");
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 300;
  src: url("../assets/OpenSans-Light.ttf");
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
  src: url("../assets/OpenSans-Bold.ttf");
}
/**************
 Typography:
 **************/
html {
  /* 1rem = 10px for easy calculations (e.g. 3rem = 30px): */
  font-size: 62.5%;
}

body {
  /* using `em` instead of `rem` in body b/c bug in chrome (use `rem` in all other areas) */
  font-size: 1.5em;
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  color: #54585E;
  line-height: 3.1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -.1rem;
}

h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -.1rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 5.0rem;
  }

  h2 {
    font-size: 4.2rem;
  }

  h3 {
    font-size: 3.6rem;
  }

  h4 {
    font-size: 3.0rem;
  }

  h5 {
    font-size: 2.4rem;
  }

  h6 {
    font-size: 1.5rem;
  }
}
/* removes both padding and margins */
.no-pad, .no-padding {
  padding: 0;
  margin: 0;
}

/* use if nested in fluid and want to clear */
.clear-fluid {
  margin-left: -2rem;
  margin-right: -2rem;
}

.full-height {
  min-height: 100%;
}

.auto-margin, .margin-center {
  margin-left: auto;
  margin-right: auto;
}

/* changes flex display to 'block': */
.clear {
  display: block;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

/* ========================================================================== */
/* ==========================================================================
   Styles
   ========================================================================== */
a {
  color: deepskyblue;
}

a:hover {
  color: #0FA0CE;
}

/* Buttons: */
button, .button, input[type='button'], input[type='submit'], input[type='reset'] {
  font-size: 1.1rem;
  background-color: transparent;
  display: inline-block;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgba(35, 35, 35, 0);
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
button:hover, button:focus, .button:hover, .button:focus, input[type='button']:hover, input[type='button']:focus, input[type='submit']:hover, input[type='submit']:focus, input[type='reset']:hover, input[type='reset']:focus {
  border: 1px solid #232323;
  color: black;
}

/* change selection color: */
::selection {
  background: #4fc8de;
  color: ghostwhite;
}

::-moz-selection {
  background: #4fc8de;
  color: ghostwhite;
}

/* ==========================================================================
   Sections
   ========================================================================== */
/* all sections (except footer, header): */
section {
  min-height: 100vh;
}

.title {
  padding: 10.2rem 0 7rem 0;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
}

/*******************
 Header
 *******************/
header {
  width: 100%;
  height: 5rem;
  background: white;
  text-transform: uppercase;
  border-bottom: 1px solid darkgray;
}
header nav {
  height: 100%;
}
header button {
  margin: 0;
  color: #646464;
}
header img {
  max-height: 4rem;
  width: auto;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/*******************
 Home
 *******************/
#home {
  order: 1;
  overflow: hidden;
  height: 100%;
}

/*******************
 About
 *******************/
.about-hr {
  width: 100%;
  height: 1px;
  background: #e4dcd2;
  color: #e4dcd2;
  border: none;
}

#about-list > div {
  margin-bottom: 6rem;
}
#about-list figure {
  padding-right: 5rem;
}

/*******************
 Portfolio
 *******************/
#portfolio {
  background: #fafafa;
  -moz-box-shadow: inset 0 2px 4px 0 rgba(210, 210, 210, 0.5);
  -webkit-box-shadow: inset 0 2px 4px 0 rgba(210, 210, 210, 0.5);
  box-shadow: inset 0 2px 4px 0 rgba(210, 210, 210, 0.5);
}

/* a container (or row) for portfolio bricks: */
.portfolio-row {
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 1.8%;
}

.portfolio-row > figure {
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
  transition: all 0.4s ease 0s;
  margin: 0.9%;
  padding: 1rem;
  border-radius: 4px;
  background: white;
  font-weight: 200;
  /* resize tile upon resizing window: */
  max-width: calc(100%/3 - (2 * 1.2rem));
}
.portfolio-row > figure:hover {
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
.portfolio-row > figure figcaption {
  margin: 1rem 1.5rem 0.5rem;
}
.portfolio-row > figure h1, .portfolio-row > figure h2, .portfolio-row > figure h3, .portfolio-row > figure h4, .portfolio-row > figure h5, .portfolio-row > figure h6 {
  font-size: 1.7rem;
  margin-bottom: 0.4rem;
}
.portfolio-row > figure p {
  margin: 0;
  color: dimgray;
}
.portfolio-row > figure img {
  border-radius: 4px;
}

/**************
 Footer
 **************/
/* for sticky footer, wrap everything but the footer in this selector: */
body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
  min-height: 100vh;
}

#body-wrapper {
  -webkit-flex: 1;
  flex: 1;
}

footer {
  -moz-box-shadow: inset 0 2px 4px 0 rgba(210, 210, 210, 0.5);
  -webkit-box-shadow: inset 0 2px 4px 0 rgba(210, 210, 210, 0.5);
  box-shadow: inset 0 2px 4px 0 rgba(210, 210, 210, 0.5);
  min-height: 8.5rem;
  background: whitesmoke;
  color: darkgray;
}
footer .container-row {
  min-height: 100%;
}
footer a, footer a i {
  -moz-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
  color: darkgray;
}
footer a:hover, footer a i:hover {
  color: #646464;
  border-color: #646464;
}
footer i {
  font-size: 2.6rem;
  padding: 0 1rem 0 1rem;
  border: 1px solid darkgray;
  border-radius: 50%;
}

/* ==========================================================================
   Misc
   ========================================================================== */
/* creates an svg triangle that overlays on page (i.e. negative margin) */
.triangle-center {
  text-align: center;
  height: 26px;
  margin-bottom: -26px;
}
.triangle-center svg {
  width: 50px;
  height: 26 26px;
  fill: red;
}

.div-line {
  width: 100%;
  height: 0;
  border-top: 1px #dddddd solid;
  border-bottom: 1px white solid;
}

/*******************
 Media queries
 *******************/
/* Phones */
/* Small Screens: */
/* Tablets */
/* Laptops/Desktops: */
/* Large Screens: */
/* Holy Grail Layout */
@media screen and (max-width: 640px) {
  .place-holder {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    order: 0;
  }
}
