/*************************
*	Author: Dee Reddy
*************************/

@font-face {
	font-family: nilland;
	src: url('nillandRegular.ttf');
}

@font-face {
	font-family: 'VarelaRound';
	src: url('VarelaRound.ttf');
}

body {
	font-family: 'VarelaRound', monospace;
	font-size: 120%;
	color: white;
	margin: 0;
	background: rgb(212,216,212);
	background-size: 100% 100%;

}

html, body {
	height: 100%;
}

article {
	font-size: 2rem;
}

h1 {
	font-size: 6rem;
}

a {
	color: white;
}

a:link {
	color: rgb(222,222,222);
	text-decoration: none;
}

a:hover {
	color: rgb(222,222,222);
	text-decoration: underline;
}

a:visited {
	color: rgb(222,222,222);
	text-decoration: none;
}

/********************
/*	drop down menu
/********************/

.drop-menu {
	font-size: 1.75rem;
	width: 70%;
	height: 45px;
	top: -45px;
	position: fixed;
	background: rgba(30,39,30, 0.9) none repeat scroll 0% 0% padding-box;
	z-index: 999;
	border-radius: 0px 0px 5px 5px;
	display: block;
	box-sizing: border-box;
}

.drop-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.drop-menu li {
	display: inline;
	margin-left: 2rem;
}

.center-menu {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

/********************
/*	properties
/********************/

.children-v-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/*makes div height of screen*/
.full-height {
	height: 100vh;
}

/* aligns all child divs equally sapced */
.align-container {
	display: flex;
	flex-flow: row nowrap;			/* Align on the same line */
	justify-content: space-between; /* Equal margin between the child elements */
}

/*adds shadow to section*/
.shadow{
	-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

.inline {
	display:inline-block;
}


/********************
/*	Sections
/********************/

#home {
	background: url('img/chalkboard2.jpg') no-repeat fixed; 
	min-height: 1000px;
	max-width: 1920px; 
	position: relative; 
	color: white;
	/*cover entire screen*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#home article { 
	position: absolute; 
	text-align: center; 
	width: 100%;
	top: 20%; 
	height: 50vh;
}

#home h2 {
	font-size: 4rem;
	font-family: nilland, Times, serif;
}

#about {
	font-family: nilland;
	background: url('img/circles_black.jpg') 50% 0 repeat fixed;
	min-height: 1000px;
	max-width: 1920px; 
	position: relative;
}

#about article {
	position: absolute;
	width: 100%;
	top: 0%; 
	height: 50vh;
}

#portfolio {
	font-family: nilland; 	
	background: url('img/circles.jpg') 50% 0 repeat fixed;
	min-height: 1000px;
	max-width: 1920px; 
	position: relative;
	color: #332f2f;

}

#portfolio article {
	position: absolute;
	width: 100%;
	top: 0%; 
	height: 50vh;
}


#contact {
	font-family: nilland;
	background: url('img/contact_bg.png') 50% 0 repeat fixed;
	position: relative; 
	color: white;
}

#contact article {
	position: absolute;
	width: 100%;
	top: 0%; 
}

/********************
/*	misc
/********************/

.indent {
	margin-left: 7%;
	margin-right: 7%;
}

.home-links-container {
	padding-top: 6rem;
	position: relative;
	font-size: 4rem;
}

.yellow {
	color: rgb(255, 233, 85);
}

.orange {
	color: #ff380b;
}

.gray {
	color: #3d3d3e;
}

.portfolio-item {
	margin-bottom: 3rem;
	border: 2px solid #bfbfbf;
	width: 20%;
	min-width: 300px;
	transition: all 0.5s ease;
	background: none;
	overflow: hidden;
	background: #cdcdcd;
}

figcaption{
	margin: 1.4rem;
	color: black;
}

.portfolio-item:hover {
	transition: all 0.5s ease;
	box-shadow: 4px 4px 20px -1px rgba(0, 0, 0, 0.75);
}

.bottom-pic {
	position: absolute;
	bottom: 0; 
	left: 0; 
}

figcaption span{
	color: #ff380b;
	font-weight: bold;
}

.a-red:hover {
	color: #ba1600;
	text-decoration: none;
}

.a-orange:hover {
	color: #ff380b;
	text-decoration: none;
}

.a-yellow:hover {
	color: rgb(255, 233, 85);
	text-decoration: none;
}

.a-green:hover {
	color: #39ae52;
	text-decoration: none;
}

.contact-links{
	font-size: 5.5rem;
	color: white;
	padding: 2%;
}

.contact-links:hover {
	color: white;
	text-decoration: none;
}
